:host {

}
p {
  width: 100%;
  text-align: center;
  display: block;
}

.flex-container {
  display: inline-flex;
  flex-flow: column wrap;
  flex-direction: row;
  text-align: center;
}
div {
  box-sizing: border-box;
}
